@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: transparent;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: purl;
  src: url(/pixelpurl.medium.ttf);
}
.purl {
  font-family: purl;
}
@font-face {
  font-family: bilgie;
  src: url(/bilgie/Bilgie.ttf);
}
.bilgie {
  font-family: bilgie;
  letter-spacing: 2px;
}
@font-face {
  font-family: font-2;
  src: url(/it-delvion-demo/ITDelvionDemo-Regular.otf);
}
.font-2 {
  font-family: font-2;
}